APP_ENV=development
LOG_LEVEL=debug
NODE_ID=local-node-01

PROXY_HOST=0.0.0.0
PROXY_PORT=8080

PROXY_USERNAME=nexus
PROXY_PASSWORD=fWSjU2WtO7576DIrlSK4emB+IBZnOn9hXv7rr8C5cwU=

PROXY_READ_TIMEOUT=30s
PROXY_WRITE_TIMEOUT=30s
PROXY_IDLE_TIMEOUT=60s
PROXY_CONNECT_TIMEOUT=10s

PROXY_ALLOW_PRIVATE_IPS=false